//FONT
$font-xl: 3.6rem;
$font-l: 2.6rem;
$font-base: 1.6rem;

//COlOR
$color-purple: #7e6cca;
$color-green: #dbff8f;
$color-white: #fff;
$color-black: #000;
$color-gray: #e5e5e5;
$color-gray-darker: #525252;

//GRID
$grid-width: 140rem;
$gutter-horizontal: 1.5rem;
$gutter-vertical: 2rem;
