.main {
  &__color-component {
    position: relative;
  }

  &--color-circle {
    margin: 0 auto;
    content: "";
    display: block;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-color: red;
    z-index: 9;
    outline: 1px solid $color-black;
    position: inherit;
    outline-offset: 1rem;
    box-shadow: 0 0 0 1rem $color-white;
  }

  &--color-code {
    position: inherit;
    width: 9rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: $color-white;
    border-radius: 0.8rem;
    z-index: 12;
    margin: -1rem auto 0;
    padding: 0.5rem 0.5rem;
  }
}
